

cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea
**/.idea/
out/
*.iml
out
**/out/
gen
*.mvm
**/.mvn/
**/target/
**/mvnw
**/mvnw.cmd
**/data/postgres
node_modules
web/node_modules
